*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Poppins,Arial;
background:#f4f4f4;
color:#222;

transition:.4s;

}



nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;

}


nav ul{

display:flex;
gap:25px;
list-style:none;

}


nav a{

text-decoration:none;
color:inherit;

}



#mode{

border:none;
font-size:22px;
cursor:pointer;

}



.hero{

display:flex;
justify-content:space-around;
align-items:center;
padding:70px 10%;

}



.intro{

max-width:500px;

}



.intro h1{

font-size:45px;

}



span{

color:#0077ff;

}



.btn{

display:inline-block;

margin-top:20px;

background:#0077ff;

color:white;

padding:12px 25px;

border-radius:30px;

text-decoration:none;

}



.image img{

width:250px;

height:250px;

border-radius:50%;

object-fit:cover;

border:5px solid #0077ff;

animation:float 3s infinite;


}



@keyframes float{


50%{

transform:translateY(-15px);

}


}



section{

padding:60px 10%;

text-align:center;

}



.skills{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}



.skills div{


background:#0077ff;

color:white;

padding:15px 30px;

border-radius:30px;


}




.cards{


display:flex;

gap:20px;

flex-wrap:wrap;

justify-content:center;


}




.card{


background:white;

padding:30px;

width:280px;

border-radius:15px;

box-shadow:0 5px 20px #ccc;

transition:.3s;


}




.card:hover{


transform:translateY(-10px);


}





.social{

font-size:35px;

margin-top:20px;


}





footer{

background:#111;

color:white;

padding:20px;

text-align:center;

}




.dark{


background:#121212;

color:white;


}



.dark .card{


background:#222;

color:white;


}





@media(max-width:700px){


.hero{

flex-direction:column;

text-align:center;

}



nav ul{

display:none;

}


}